@import "tailwindcss";

@theme{
    --color-aqua: aqua;
}

@layer base{
    input{
        /* background-color: rgb(24, 24, 24); */
        padding: 7px;
        color: aqua;
        outline: none;
    }
    
}

@layer components{
    .glassmorphism{
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background: rgba(30, 41, 59, 0.15);
        border-radius: 20px;
        border: 1px solid rgba(100, 116, 139, 0.2);
        box-shadow: 0px 12px 40px 0 rgba(2, 6, 23, 0.3),
                    inset 0 0 120px rgba(79, 70, 229, 0.08),
                    inset 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
    }
    .log-button{
        margin: auto;
        background-color: aqua;
        color: black;
        font-size: larger;
        border: 1px solid aqua;
        padding: 4px 8px;
        border-radius: 7px;
        cursor: pointer;
    }
    .log-button:hover{
        background-color: black;
        color: aqua;
        box-shadow: 0px 0px 10px 4px aqua;
        transition: all 0.7s  ease-in-out;
    }
}